.opt-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    gap: 20px;
}
.main_container{
    display: grid;
    gap: 15px;
}
.hero-section{
    min-height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.problem-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: justify;
}

.container{
    margin-top: 120px;
    padding: 0px 50px;
}